@page "/todo"

@using TodoList.Shared.TodoInputItem

@inherits TodoViewModel

<h3>To Do List! (@List.Count(item => item.IsDone))</h3>
<TodoInputItem Placeholder="Add things to do..." Label="Enter Todo Item here" Value="@NewItem"/>
<button @onclick="AddItem">Add item</button>

<ul>
	@foreach(var item in List)
	{
		<li>
			<input type="checkbox" @bind="@item.IsDone" />
			<input @bind="@item.Title"/>
		</li>
	}
</ul>